/* this is in CSS */
/* 
1. get hero header and hopefully the rest of the page to flow smoothly to work
2. attach corresponding links to both nav bars that link to
2.-a. coding portfolio with sub-sections body, current, and (now tentative)archive
2.-b. About Me blurb with general facts, history, my interests/hobbies and how coding div's them all
*/
body {
	font-family: "Arial Narrow Bold";
	position: relative;
	/* margin: auto; */
	overflow-x: hidden;
	width: 100vw;
	z-index: 0;
	/* margin-left: 200px;
	margin-right: 200px; */
}

/* --------------------------------------------------------------------------------------- */
/* The name I gave this file is mind-numbingly stupid and asinine.
However, I'm keeping it, to log my learning.
For the TA's: Jake sees how 'personalized' and 'humorous' class- and id-names
can and do back-fire
/* --------------------------------------------------------------------------------------- */

#bckgrdh4ximg {
	z-index: -4;
	position: fixed;
}

header {
	position: relative;
	background-color: seashell;
	/* background-color: b */
	border-bottom-color: black;
	z-index: 3;
	height: 1000px;
	display: flex;
	/* flex: column; */
	/* flex: center; */
	z-index: 3;
	/* padding-top: 50px; */
}

/* ----------------------------------------------------------------------- */
/* 'Trans'? Seriously?? --*/
/* "No one will see this no one will care who cares!" */
/* Everyone will, Jake  */
/* Everyone will, everyone does, and we're all deeply offended */
/* ----------------------------------------------------------------------- */

#trans {
	width: 100vw;
	height: 150px;
	background-color: transparent;
	position: relative;
	display: block;
	z-index: 3;
}

/* Me being ambitious at the time, but I also get it now, so kudos for me. */
.hero {
	position: relative;
	display: none;
}

/* too much. Will definitly feel the axe */
#flex {
	z-index: 3;
	position: absolute;
	background-color: darkslategray;
	top: 50px;
	left: 150px;
	height: 400px;
	width: 950px;
	text-align: center;
	color: white;
	font-weight: 600;
	font-size: 2em;
}

/* axe. */
.hero-inner {
	z-index: 3;
	width: 100vw;
	height: 600px;
	background-color: darkslategray;
	border-block-end-color: black;
	position: absolute;
	/* display: flex; */
	text-align: center;
}

.container1 {
	bottom: 0;
	z-index: 0;
}
